<menu id="MenuLayout" title="@Strings.menuTitle">
	<menu-item id="History">@Strings.menuHistoryLabel</menu-item>
	<menu-item id="SetGoal">@Strings.menuSetGoalLabel</menu-item>
	<menu-item id="SwitchUnits">@Strings.menuSwitchUnitsLabel</menu-item>
	<menu-item id="Reset">@Strings.menuResetLabel</menu-item>
	<menu-item id="Back">@Strings.menuBackLabel</menu-item>	
</menu>
